---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = (await getCollection('posts')).map((p) => ({
    params: { slug: p.slug },
    props: {
      ...p,
      data: { ...p.data, date: new Date(p.data.date).getTime() },
      render: p.render,
    },
  }));

  return posts;
}
const { props: post, params } = Astro;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  {!post.data?.cssclasses && <h1>{post.data.title}</h1>}
  <div
    class={`flex flex-col ${post.data?.cssclasses?.join(' ') || 'self-center w-full max-w-[700px]'}`}
  >
    {
      !post.data?.cssclasses && (
        <span class="date-placeholder my-3 self-end">{post.data.date}</span>
      )
    }
    <Content />
  </div>
</BaseLayout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const datePlaceholders = document.querySelectorAll('.date-placeholder');
    [...datePlaceholders].forEach((placeholder: Element) => {
      placeholder.textContent = new Intl.DateTimeFormat(
        navigator.languages[0],
        { dateStyle: 'full' },
      ).format(new Date(Number(placeholder.textContent)));
    });
  });
</script>
