---
import BaseLayout from '@/layouts/BaseLayout.astro';

import { getCollection, getEntry } from 'astro:content';

const categories = await getCollection('categories');

const posts = await getCollection('posts');

const index = await getEntry('indices', 'main')!;
const { Content } = await index?.render()!;

console.log(Content);

const postsWithCategorySlugsAndDates = posts.map((p) => ({
	slug: p.slug,
	category: p.data.category,
	date: new Date(p.data.date).getTime(),
	title: p.data.title,
}));
const postsInCategories = posts.reduce(
	(acc: { [key: string]: number }, post) => {
		if (post.data.category?.id) {
			acc[post.data.category.id] = acc[post.data.category.id] + 1 || 1;
		}
		return acc;
	},
	{},
);
---

<BaseLayout title="Alan Kersaudy">
	<h1>Demat deoc'h, I'm Alan</h1>
	<p class="mb-8 text basis-1/2 max-w-[600px]">
		I am currently doing a MSc in Language Technology at Bangor University,
		North Wales. This web site is primarily intended to keep track my different
		univesity projects.
	</p>
	<div class={index.data?.cssclass}>
		<Content />
	</div>
</BaseLayout>

<style is:global>
	.dashboard {
		font-family: inherit;
		padding-left: 25px !important;
		padding-right: 25px !important;
		padding-top: 20px !important;
	}

	.dashboard h1 {
		margin-top: 1em;
	}
	.dashboard > ul {
		font-weight: 600;
		display: flex !important;
		flex-wrap: wrap !important;
		width: 100%;
	}
	.dashboard > ul > li {
		border-bottom-style: dotted !important;
		border-width: 1px 0 0 0 !important;
		margin-top: 1em !important;
		padding-top: 1em;
		padding: 1rem 0rem;
		flex: 0 1 350px;
		max-width:;
		padding-right: 3em;
	}
	.dashboard li::marker {
		color: gray;
	}
	.dashboard ul {
		padding-left: 0px !important;
	}
	.dashboard ul li ul li {
		list-style-type: disc;
		font-weight: 400;
		margin-left: 2em !important;
		margin-bottom: 0;
	}
</style>
