---
import BaseLayout from '@/layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

const categories = await getCollection('categories');

const posts = await getCollection('posts');

const postsWithCategorySlugsAndDates = posts.map((p) => ({
	slug: p.slug,
	category: p.data.category,
	date: new Date(p.data.date).getTime(),
	title: p.data.title,
}));
const postsInCategories = posts.reduce(
	(acc: { [key: string]: number }, post) => {
		if (post.data.category.id) {
			acc[post.data.category.id] = acc[post.data.category.id] + 1 || 1;
		}
		return acc;
	},
	{},
);

const orderedCategories = categories
	.filter((p) => Boolean(postsInCategories[p.slug]))
	.sort((a, b) => a.data.id - b.data.id);

const orderedPosts = postsWithCategorySlugsAndDates.sort(
	(a, b) => b.date - a.date,
);
---

<BaseLayout title="Alan Kersaudy">
	<h1>Demat deoc'h, I'm Alan</h1>
	<p class="mb-8 text max-w-[600px]">
		I am currently doing a MSc in Language Technology at Bangor University,
		North Wales. This web site is primarily intended to keep track of the
		advancement of my different univesity projects.
	</p>
	<div class="flex flex-wrap">
		{
			orderedCategories.map((category) => (
				<div class="basis-1/2 min-w-96 max-w-[50%] ">
					<h2>{category.data.title}</h2>
					<p>{category.data.description}</p>
					<ul class="ps-4">
						{orderedPosts.map((post) => {
							if (post.category.id === category.slug) {
								return (
									<li>
										<a href={`/posts/${post.slug}`}>{post.title}</a>
									</li>
								);
							}
						})}
					</ul>
				</div>
			))
		}
	</div>
</BaseLayout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		padding: 1.5rem;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
