---
import BaseLayout from '@/layouts/BaseLayout.astro';

import { getCollection, getEntry } from 'astro:content';

const categories = await getCollection('categories');

const posts = await getCollection('posts');

const index = await getEntry('indices', 'main')!;
const { Content } = await index?.render()!;

console.log(Content);

const postsWithCategorySlugsAndDates = posts.map((p) => ({
	slug: p.slug,
	category: p.data.category,
	date: new Date(p.data.date).getTime(),
	title: p.data.title,
}));
const postsInCategories = posts.reduce(
	(acc: { [key: string]: number }, post) => {
		if (post.data.category?.id) {
			acc[post.data.category.id] = acc[post.data.category.id] + 1 || 1;
		}
		return acc;
	},
	{},
);
---

<BaseLayout title="Alan Kersaudy">
	<h1>Demat deoc'h, I'm Alan</h1>
	<p class="mb-8 text basis-1/2 max-w-[600px]">
		I am currently doing a MSc in Language Technology at Bangor University,
		North Wales. This web site is primarily intended to keep track my different
		univesity projects.
	</p>
	<div class={`${index.data?.cssclasses}`}>
		<Content />
	</div>
</BaseLayout>

<style></style>
