---
import { getCollection } from 'astro:content';

const { date, projectId } = Astro.props;
const meetingMinutes = await getCollection(
  'projects',
  projectId,
  'meeting-minutes',
  date,
);
---

<article>
  <h2>{meetingMinutes.date}</h2>
  <p><strong>Attendees:</strong> {meetingMinutes.attendees.join(', ')}</p>
  <p><strong>Agenda:</strong></p>
  <ul>
    {meetingMinutes.agenda.map((item) => <li>{item}</li>)}
  </ul>
  <p><strong>Discussion:</strong></p>
  <p>{meetingMinutes.discussion}</p>
  <p><strong>Action Items:</strong></p>
  <ul>
    {meetingMinutes.actionItems.map((item) => <li>{item}</li>)}
  </ul>
</article>
