---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const projects = (await getCollection('projects')).map(
    (p: any, i: any, a: any[]) => ({
      params: { slug: p.slug },
      props: { ...p.data, body: p.body },
    }),
  );
  return projects;
}
import BaseLayout from '@/layouts/BaseLayout.astro';
const props = Astro.props;
---

<BaseLayout title="Alan Kersaudy">
  <h1>{props.title}</h1>
  <p>{props.description}</p>
</BaseLayout>
